{% extends "bs.html" %}
{% block content %}
	<style>
	.fixedheight{
		height: 240px;
		padding: 85px 0;
	}
	</style>
		<form action="" method="post" name="index">
		{{ form.csrf_token }}
		<div class="container">
			<header class="gbtags-header">
				<div class="page-header">
				<h1 class="text-primary"> 二维码生成器 <span class="small">具体内容有待补充</span></h1>	
				</div>
			</header>
			<section class="row">
				<div class="col-md-7">
					<div class="panel panel-primary">
						<div class="panel-heading"><h3>二维码信息</h3></div>
						<div class="panel-body " style="height:300px">
							<div class="form-group">
	                            <p>	请输入要生成的二维码信息：</p>	                   
	                            {{form.message_TwoDcode(rows=7, cols=85)}}
	                            <br><br>
	                            {{form.submit_commit(class="btn btn-theme pull-right")}}
	                            
	                        </div>
	                    </div>
					</div>
				</div>
			

			<div class="col-md-5">
					<div class="panel panel-primary">
						<div class="panel-heading"><h3>生成的二维码</h3></div>
						<div class="panel-body" style="height:300px">
							<div class="align-center" style="height:240px">
								<img height="250" weight="250" src={{imgfile}}></img> 			
							</div>			
 						{{form.submit_download(class="btn btn-theme pull-right")}}
 						
 						</div>
					</div>
			</div>
			</section>
		</div><!-- /container -->
		</form>
		

{% endblock %}