{% extends "bs.html" %}
{% block content %}
	<!-- stylesheet css -->
<link rel="stylesheet" href="../static/css/templatemo-blue.css">
<script src="../static/js/jquery.backstretch.min.js"></script>
<body data-spy="scroll" data-target=".navbar-collapse">

<!-- preloader section -->
<div class="preloader">
	<div class="sk-spinner sk-spinner-wordpress">
       <span class="sk-inner-circle"></span>
     </div>
</div>

<!-- header section -->
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<img src="../static/img/kun/logo.jpg" class="img-responsive img-circle tm-border" alt="templatemo easy profile">
				<hr>
				<h1 class="tm-title bold shadow">大家好，我是王堃</h1>
				<h2 class="white bold shadow">搬砖工程师</h2>
			</div>
		</div>
	</div>
</header>

<!-- about and skills section -->
<section class="container">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="about">
				<h3 class="accent">个人网站测试</h3>
				<h2>Introduction</h2>
				<p>This is just a test website, I will add something to make it interesting, maybe it will take a long time, but this is the holidy of spring festeval, so I think I can finish it. Hope me good luck!!</p>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="skills">
				<h2 class="white">Skills</h2>
				<strong>Python</strong>
				<span class="pull-right">70%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" 
                        aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
					</div>
				<strong>C/C++</strong>
				<span class="pull-right">85%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" 
                        aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
					</div>
				<strong>Bootstrap</strong>
				<span class="pull-right">95%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" 
                        aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
					</div>
			</div>
		</div>
	</div>
</section>

<!-- education and languages -->
<section class="container">
	<div class="row">
		<div class="col-md-8 col-sm-12">
			<div class="education">
				<h2 class="white">教育经历</h2>
					<div class="education-content">
						<h4 class="education-title accent">电气工程</h4>
							<div class="education-school">
								<h5>上海交通大学</h5><span></span>
								<h5>本科 硕士</h5> <span></span><h5> 2011/09 - 现在</h5>
								<h5>法国里昂国立应用科学学院（INSA de Lyon）</h5><span></span>
								<h5>2013/08 - 2015/07 </h5>
							</div>
							<br>
						<p class="education-description">本硕一直都是电气工程专业，但个人爱好网络编程，闲暇之余，以作消遣。</p>
					</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-12">
			<div class="languages">
				<h2>语言水平</h2>
					<ul>
						<li> 汉语 / 母语</li>
						<li> 英语 / 流利</li>
						<li> 法语 / 流利</li>
					</ul>
			</div>
		</div>
	</div>
</section>

<!-- contact and experience -->
<section class="container">
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<div class="contact">
				<h2>联系方式</h2>
					<p><i class="fa fa-map-marker"></i> Shanghai，SJTU X-34 </p>
					<p><i class="fa fa-phone"></i> 158 0194 61XX</p>
					<p><i class="fa fa-envelope"></i> wangvictor2009@163.com</p>
					<p><i class="fa fa-globe"></i><a href = "/"> 个人网站 </a></p>
			</div>
		</div>
		<div class="col-md-8 col-sm-12">
			<div class="experience">
				<h2 class="white">工作经历</h2>
					<div class="experience-content">
						<h4 class="experience-title accent">网站搭建工程师</h4>
						<h5>法国爱普科斯公司索菲亚研发中心</h5><span></span>
						<h5>2014/08 - 2015/02</h5>
						<p class="education-description">索菲亚科技园区位于法国尼斯西边，是欧洲最大的科技园区之一，为期6个月的企业实习，学习网站搭建，用于比较有源滤波器设计的优劣。</p>
					</div>
			</div>
		</div>
	</div>
</section>
</body>

<script>
$(window).load(function(){
    $('.preloader').delay(0).fadeOut("slow"); // set duration in brackets    
});

// HOME BACKGROUND SLIDESHOW
$(function(){
    jQuery(document).ready(function() {
		$('body').backstretch([
	 		 "../static/img/kun/tm-bg-slide-1.jpg", 
	 		 "../static/img/kun/tm-bg-slide-2.jpg",
			 "../static/img/kun/tm-bg-slide-3.jpg"
	 			], 	{duration: 3200, fade: 1300});
		});
})
</script>



{% endblock %}