<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script language="javascript" src="../static/js/jquery-1.11.3.min.js"></script>
<script language="javascript" src="../static/js/jquery.jqprint-0.3.js"></script>
<script type="text/javascript" src="../static/js/jquery.autocomplete.min.js"></script> 
<script type="text/javascript" src="../static/js/TypecodeIndex.js"></script> 
<script type="text/javascript" src="../static/js/Material_serial_Index.js"></script> 
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script> 

<div class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               hahaha
            </h4>
         </div>
         <div class="modal-body">
            <div id='info' class="divcss_material" >
   
                <table border=1 cellpadding="8" class="table table-bordered">
                       
                        <th></th>
                        <th width="100" style="text-align:center">物料编号</th>
                        <th width="250" style="text-align:center">物料名称</th>
                        <th width="250" style="text-align:center">规格型号</th>
                        <th width="200" style="text-align:center">备注</th>
                        <th width="80" style="text-align:center">数量</th>
                        <tr>
                            <td style="text-align:center">1</td>
                            <td style="text-align:center">2</td>
                            <td style="text-align:center">3</td>
                            <td style="text-align:center">4</td>
                            <td style="text-align:center">5</td>
                            <td style="text-align:center">6</td>
                        </tr>
                </table>
            </div>

         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
          
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
