<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<div style='float:left;width:15;height:75'></div>
<div style='width:250;height:66'>
<div style='float:left;width:140;'>
<font face='Microsoft YaHei' size='5'>上海方菱</font><br>
<div style='float:up;width:200;height:5'></div>
<font face='Microsoft YaHei' size='4'>型 号：F1100B</font>
</div> 
<div style="height:66px;">
<img id='img' src= "D:\B02-24E55001.jpg" />
</div>
<font face='Microsoft YaHei' size='4'>序列号：B02-24E5500A</font>
</div>
</div>
</html>
