<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<!-- BASICS -->
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Kun WANG's web page</title>
        <meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../static/css/isotope.css" media="screen" />	
		<link rel="stylesheet" href="../static/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="../static/css/bootstrap.css">
		<link rel="stylesheet" href="../static/css/responsive-slider.css">
		<link rel="stylesheet" href="../static/css/bootstrap-theme.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/animate.css">
        <link rel="stylesheet" href="../static/css/font-awesome.css">
		<!-- skin -->
		<link rel="stylesheet" href="../static/skin/default.css">
    </head>
	 
    <body>

		<section id="header" class="appear">
		<div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
			 <div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="fa fa-bars color-white"></span>
					</button>
					<h1><a class="navbar-brand" href={{url_for('index')}} data-0="line-height:90px;" data-300="line-height:50px;">			Kun WANG
					</a></h1>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
						<li class="active"><a href="#header">主页</a></li>
						<li><a href="#section-about">团队</a></li>
						<li><a href="#section-works">娱乐</a></li>
						<li><a href="#section-contact">联系</a></li>
					</ul>
				</div><!--/.navbar-collapse -->
			</div>
		</div>
		</section>
		
<section class="featured">
	<div id="index">
			<!-- Responsive slider - START -->
    	
<div id="myCarousel" class="carousel slide">
   <!-- 轮播（Carousel）指标 -->
   <ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      	<li data-target="#myCarousel" data-slide-to="1"></li>
      	<li data-target="#myCarousel" data-slide-to="2"></li>	
   </ol>   
   <!-- 轮播（Carousel）项目 -->
   <div class="carousel-inner">
      <div class="item active">
        <img src="../static/img/flash/img1.jpg" alt="First slide">
        <div class="carousel-caption">
	        <div class="align-center">
			<h2 class="slogan">欢迎来到王堃的网页</h2>
			<p>This is my first web page, I try to show something which I am interested in.</p>
			<p>May be there are some bugs, please tell me if you find them.</p>
			<p>Hope everyone have a good luck! ^_^ ^_^ </p>	<br><br><br><br><br><br><br>
			</div>
		</div>

      </div>
      <div class="item">
         <img src="../static/img/flash/img3.jpg" alt="Second slide">
         <div class="carousel-caption">
	        <div class="align-center">
			<h2 class="slogan">欢迎来到王堃的网页</h2>
			<p>This is my first web page, I try to show something which I am interested in.</p>
			<p>May be there are some bugs, please tell me if you find them.</p>
			<p>Hope everyone have a good luck! ^_^ ^_^ </p>	<br><br><br><br><br><br><br>
			</div>
		</div>

      </div>
      <div class="item">
         <img src="../static/img/flash/img2.jpg" alt="Third slide">
         <div class="carousel-caption">
	        <div class="align-center">
			<h2 class="slogan">欢迎来到王堃的网页</h2>
			<p>This is my first web page, I try to show something which I am interested in.</p>
			<p>May be there are some bugs, please tell me if you find them.</p>
			<p>Hope everyone have a good luck! ^_^ ^_^ </p>	<br><br><br><br><br><br><br>
			</div>
		</div>

      </div>
   </div>
   <!-- 轮播（Carousel）导航 -->
   <a class="carousel-control left" href="#myCarousel" 
      data-slide="prev">&lsaquo;</a>
   <a class="carousel-control right" href="#myCarousel" 
      data-slide="next">&rsaquo;</a>
</div> 
</div>

</section>
		
		<!-- services -->
		<section id="section-services" class="section pad-bot30 bg-white">
		<div class="container"> 
		
			<div class="row mar-bot40">	
				<div class="col-lg-3" >
					<div class="align-center">
						<a href={{url_for('google')}} ><i class="fa fa-google fa-5x mar-bot20"></i>
						<h4 class="text-bold">访问谷歌</h4></a>
						<p>通过更改Hosts，从而实现访问谷歌相关网站，本方法亲测安全可行。^_^ ^_^
						</p>
					</div>
				</div>
			
				<div class="col-lg-3" >
					<div class="align-center">
						<a href={{url_for('TwodimentionCode', imgname="logo.png", info_2dcode='*')}} ><i class="fa fa-server fa-5x mar-bot20"></i>
						<h4 class="text-bold">二维码生成器</h4></a>
						<p>根据输入内容生成对应的二维码， 同时提供该二维码的下载。
						</p>
					</div>
				</div>

				<div class="col-lg-3" >
					<div class="align-center">
						<a href={{url_for('Software_download')}} ><i class="fa fa-download fa-5x mar-bot20"></i>
						<h4 class="text-bold">软件下载</h4></a>
						<p>提供常用的软件下载功能，欢迎访问并下载需要软件。
						</p>
					</div>
				</div>

				<div class="col-lg-3" >
					<div class="align-center">
						<a href={{url_for('daojishi')}} ><i class="fa fa-hourglass-3 fa-5x mar-bot20"></i>
						<h4 class="text-bold">计时器</h4></a>
						<p>倒计时小功能，具体内容有待完善，此处仅为示例作用。
						</p>
					</div>
				</div>
			
			</div>	

		</div>
		</section>
			
		<!-- spacer section:testimonial -->
		<section id="testimonials" class="section" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">				
					<div class="col-lg-12">
							<div class="align-center">
										<div class="testimonial pad-top40 pad-bot40 clearfix">
											<h5>
												The BBS in SJTU is famous, i am sure you will find what you want in BBS. Come on, go to visit and you will find something very interesting.
											</h5>
											<br/>
											<span class="author">&mdash; BBS SJTU <a href="https://bbs.sjtu.edu.cn">https://bbs.sjtu.edu.cn/</a></span>
										</div>

								</div>
							</div>
					</div>
				
			</div>	
		</div>	
		</section>
			
		<!-- about -->
		<section id="section-about" class="section appear clearfix">
		<div class="container">

				<div class="row mar-bot40">
					<div class="col-md-offset-3 col-md-6">
						<div class="section-header">
							<h2 class="section-heading animated" data-animation="bounceInUp">团队</h2>
							<p>This web page is not finished by myself, with my friends' help, so can I finish it.</p>
						</div>
					</div>
				</div>

					<div class="row align-center mar-bot40">
						<div class="col-md-3">
							<div class="team-member">
								<figure class="member-photo"><a href={{url_for('shikun')}} ><img src="../static/img/team/member1.jpg" alt="" /></a></figure>
								<div class="team-detail">
									<h4>陈诗坤</h4>
									<span>Handsome boy</span>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="team-member">
								<figure class="member-photo"><a href={{url_for('yu')}} ><img src="../static/img/team/member2.jpg" alt="" /></a></figure>
								<div class="team-detail">
									<h4>娄煜</h4>
									<span>Lucky boy</span>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="team-member">
								<figure class="member-photo"><a href={{url_for('zhuoyu')}} ><img src="../static/img/team/member3.jpg" alt="" /></a></figure>
								<div class="team-detail">
								<h4>郭卓瑜</h4>
									<span>Hahaha boy</span>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="team-member">
								<figure class="member-photo"><a href={{url_for('kun')}} ><img src="../static/img/team/member4.jpg" alt="" /></a></figure>
								<div class="team-detail">
								<h4>王堃</h4>
									<span>IT boy</span>
								</div>
							</div>
						</div>
					</div>
						
		</div>
		</section>
		<!-- /about -->
		
		<!-- spacer section:stats -->
		<section id="parallax1" class="section pad-top40 pad-bot40" data-stellar-background-ratio="0.5">
			<div class="container">
            <div class="align-center pad-top40 pad-bot40">
                <blockquote class="bigquote color-white">Something interesting here</blockquote>
				<p class="color-white">My faverate part</p>
            </div>
			</div>	
		</section>
		
		<!-- section works -->
		<section id="section-works" class="section appear clearfix">
			<div class="container">
				
				<div class="row mar-bot40">
					<div class="col-md-offset-3 col-md-6">
						<div class="section-header">
							<h2 class="section-heading animated" data-animation="bounceInUp">娱乐</h2>
							<p>There are some examples to show, I will add some thing more later.</p>
						</div>
					</div>
				</div>
					
                        <div class="row">
                          <nav id="filter" class="col-md-12 text-center">
                            <ul>
                              <li><a href="#" class="current btn-theme btn-small" data-filter="*">All</a></li>
                              <li><a href="#"  class="btn-theme btn-small" data-filter=".webdesign" >Web Design</a></li>
                              <li><a href="#"  class="btn-theme btn-small" data-filter=".photography">Photography</a></li>
                              <li ><a href="#" class="btn-theme btn-small" data-filter=".print">Print</a></li>
                            </ul>
                          </nav>
                          <div class="col-md-12">
                            <div class="row">
                              <div class="portfolio-items isotopeWrapper clearfix" id="3">
							  
                                <article class="col-md-4 isotopeItem webdesign">
									<div class="portfolio-item">
										<img src="../static/img/portfolio/img1.jpg" alt="" />
										 <div class="portfolio-desc align-center">
											<div class="folio-info">
												<a href="../static/img/portfolio/img1.jpg" class="fancybox"><h5>Show Bigger</h5>
												<i class="fa fa-search-plus fa-3x"></i></a>
											 </div>										   
										 </div>
									</div>
                                </article>

                                <article class="col-md-4 isotopeItem photography">
									<div class="portfolio-item">
										<img src="../static/img/portfolio/img2.jpg" alt="" />
										 <div class="portfolio-desc align-center">
											<div class="folio-info">
												<a href="../static/img/portfolio/img2.jpg" class="fancybox"><h5>Show Bigger</h5>
												<i class="fa fa-search-plus fa-3x"></i></a>
											 </div>										   
										 </div>
									</div>
                                </article>
								

                                <article class="col-md-4 isotopeItem photography">
									<div class="portfolio-item">
										<img src="../static/img/portfolio/img3.jpg" alt="" />
										 <div class="portfolio-desc align-center">
											<div class="folio-info">
												<a href="../static/img/portfolio/img3.jpg" class="fancybox"><h5>Show Bigger</h5><i class="fa fa-search-plus fa-3x"></i></a>
											 </div>										   
										 </div>
									</div>
                                </article>

                                <article class="col-md-4 isotopeItem print">
									<div class="portfolio-item">
										<img src="../static/img/portfolio/img4.jpg" alt="" />
										 <div class="portfolio-desc align-center">
											<div class="folio-info">												
												<a href="../static/img/portfolio/img4.jpg" class="fancybox"><h5>Show Bigger</h5><i class="fa fa-search-plus fa-3x"></i></a>
											 </div>										   
										 </div>
									</div>
                                </article>

                                <article class="col-md-4 isotopeItem photography">
									<div class="portfolio-item">
										<img src="../static/img/portfolio/img5.jpg" alt="" />
										 <div class="portfolio-desc align-center">
											<div class="folio-info">												
												<a href="../static/img/portfolio/img5.jpg" class="fancybox"><h5>Show Bigger</h5><i class="fa fa-search-plus fa-3x"></i></a>
											 </div>										   
										 </div>
									</div>
                                </article>

                                <article class="col-md-4 isotopeItem webdesign">
									<div class="portfolio-item">
										<img src="../static/img/portfolio/img6.jpg" alt="" />
										 <div class="portfolio-desc align-center">
											<div class="folio-info">												
												<a href="../static/img/portfolio/img6.jpg" class="fancybox"><h5>Show Bigger</h5><i class="fa fa-search-plus fa-3x"></i></a>
											 </div>										   
										 </div>
									</div>
                                </article>

                                <article class="col-md-4 isotopeItem print">
									<div class="portfolio-item">
										<img src="../static/img/portfolio/img7.jpg" alt="" />
										 <div class="portfolio-desc align-center">
											<div class="folio-info">											
												<a href="../static/img/portfolio/img7.jpg" class="fancybox"><h5>Show Bigger</h5><i class="fa fa-search-plus fa-3x"></i></a>
											 </div>										   
										 </div>
									</div>
                                </article>

                                <article class="col-md-4 isotopeItem photography">
									<div class="portfolio-item">
										<img src="../static/img/portfolio/img8.jpg" alt="" />
										 <div class="portfolio-desc align-center">
											<div class="folio-info">												
												<a href="../static/img/portfolio/img8.jpg" class="fancybox"><h5>Show Bigger</h5><i class="fa fa-search-plus fa-3x"></i></a>
											 </div>										   
										 </div>
									</div>
                                </article>

                                <article class="col-md-4 isotopeItem print">
									<div class="portfolio-item">
										<img src="../static/img/portfolio/img9.jpg" alt="" />
										 <div class="portfolio-desc align-center">
											<div class="folio-info">												
												<a href="../static/img/portfolio/img9.jpg" class="fancybox"><h5>Show Bigger</h5><i class="fa fa-search-plus fa-3x"></i></a>
											 </div>										   
										 </div>
									</div>
                                </article>
                                </div>
                                        
							</div>
                                     

							</div>
                        </div>
				
			</div>
		</section>
		<section id="parallax2" class="section parallax" data-stellar-background-ratio="0.5">	
            <div class="align-center pad-top40 pad-bot40">
                <blockquote class="bigquote color-white">Come on, tomorrow is a new day and we will have new life.</blockquote>
				<p class="color-white">Part test</p>
            </div>
		</section>

		<!-- contact -->
		<section id="section-contact" class="section appear clearfix">
			<div class="container">
				
				<div class="row mar-bot40">
					<div class="col-md-offset-3 col-md-6">
						<div class="section-header">
							<h2 class="section-heading animated" data-animation="bounceInUp">联系我们</h2>
							<p>If you want to connect us, please follow this page and you will find it.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="cform" id="contact-form">
							<div id="sendmessage">
								 Your message has been sent. Thank you!
							</div>
							<form action="contact/contact.php" method="post" role="form" class="contactForm">
							  <div class="form-group">
								<label for="name">Your Name</label>
								<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="maxlen:4" data-msg="Please enter at least 4 chars" />
								<div class="validation"></div>
							  </div>
							  <div class="form-group">
								<label for="email">Your Email</label>
								<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
								<div class="validation"></div>
							  </div>
							  <div class="form-group">
								<label for="subject">Subject</label>
								<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="maxlen:4" data-msg="Please enter at least 8 chars of subject" />
								<div class="validation"></div>
							  </div>
							  <div class="form-group">
								<label for="message">Message</label>
								<textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
								<div class="validation"></div>
							  </div>
							  
							  <button type="submit" class="btn btn-theme pull-left">SEND MESSAGE</button>
							</form>

						</div>
					</div>
					<!-- ./span12 -->
				</div>
				
			</div>
		</section>
		
	<section id="footer" class="section footer">
		<div class="container">
			<div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
				<div class="col-sm-12 align-center">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoQq" title="QQ"><i class="fa fa-qq"></i></a></li>
                        <li><a href="#" class="icoWechat" title="Wechat"><i class="fa fa-wechat"></i></a></li>
                        <li><a href="#" class="icoBaidu" title="Baidu"><i class="fa fa-paw"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>       
        		</div>
			</div>

			<div class="row align-center copyright">
					<div class="col-sm-12"><p>Copyright &copy; 2016 Kun WANG in SJTU</p></div>
			</div>
		</div>

	</section>
	<a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>	

	<script src="../static/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<script src="../static/js/jquery.js"></script>
	<script src="../static/js/jquery.easing.1.3.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/jquery.isotope.min.js"></script>
	<script src="../static/js/jquery.nicescroll.min.js"></script>
	<script src="../static/js/fancybox/jquery.fancybox.pack.js"></script>
	<script src="../static/js/skrollr.min.js"></script>		
	<script src="../static/js/jquery.scrollTo-1.4.3.1-min.js"></script>
	<script src="../static/js/jquery.localscroll-1.2.7-min.js"></script>
	<script src="../static/js/stellar.js"></script>
	<script src="../static/js/jquery.appear.js"></script>
	<script src="../static/js/validate.js"></script>
    <script src="../static/js/main.js"></script>
    
	</body>
</html>